<template>
  <div class="body">
    <div class="header">
      <div class="header__title">
        Graph clustering demo
      </div>
      <div class="header__subtitle">
        Vladimir Ivanov, Innopolis University <br>
        Mikhail Tkachenko, Innopolis University
        <br><br>
        <a href="https://gitlab.com/12102man/diploma-iu">Repo</a>
      </div>
    </div>
    <div class="viewer">
      <div
        class="cluster"
        v-for="(cluster, clusterId) in demoJSON"
        :key="clusterId"
      >
        <div class="cluster__title" @click="changeCluster(clusterId)">
          <div>Cluster #{{ clusterId }} ({{ cluster.articles.length }} articles)</div>
          <div>
            Members:
            <div class="cluster__members">
              <div
                class="cluster__member"
                v-for="member in cluster.nodes"
                :key="member"
              >
                {{ member }}
              </div>
            </div>
          </div>
        </div>
        <div v-if="openedClusters.includes(clusterId)">
          <div
            class="cluster__article"
            v-for="(article, articleId) in cluster.articles"
            :key="articleId"
          >
            <div class="cluster__article-title" @click="changeArticle(`${clusterId}_${articleId}`)">
              <span>#{{ article.id}}</span>.
              {{ article.text.split('\n')[0]}}
            </div>
            <div
              class="cluster__article-text"
              v-html="article.text.split('\n').slice(1).join('<br/>')"
              v-if="openedArticles.includes(`${clusterId}_${articleId}`)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'index',
    data: () => ({
      demoJSON: [],
      openedArticles: [],
      openedClusters: [],
    }),
    methods: {
      changeArticle(id) {
        const detectedId = this.openedArticles.findIndex((itemId) => id === itemId)
        if (detectedId >= 0) {
          this.openedArticles.splice(detectedId, 1)
        } else {
          this.openedArticles.push(id)
        }
      },
      changeCluster(id) {
        const detectedId = this.openedClusters.findIndex((itemId) => id === itemId)
        if (detectedId >= 0) {
          this.openedClusters.splice(detectedId, 1)
        } else {
          this.openedClusters.push(id)
        }
      }
    },
    mounted() {
      this.demoJSON = require('~/assets/louvainId_demo.json')
    }
  }
</script>

<style lang="scss">
  .body {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 20px;
    font-family: Roboto, sans-serif;

    .header {
      &__title {
        font-weight: 900;
        margin-bottom: 20px;
        font-size: 18px;
      }

      &__subtitle {
        color: #383838;
      }
    }

    .cluster {
      margin-top: 50px;
      margin-bottom: 30px;
      width: 100%;

      &__title {
        font-weight: 700;
        margin-bottom: 20px;
        cursor: pointer;
      }

      &__article {
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;

        &-title {
          cursor: pointer;
          span {
            font-weight: 700;
          }

          margin-bottom: 20px;
        }
      }

      &__member {
        padding: 8px 12px;
        border-radius: 5px;
        background-color: #dcdcdc;
        margin-right: 10px;
        margin-bottom: 10px;
        width: fit-content;
      }

      &__members {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
</style>
